<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About Page</title>
  </head>
  <body>
    <h1>About Alan Turing</h1>
    <p>
      Alan Mathison Turing (23 June 1912 - 7 June 1954)was an English
      mathematician, computer scientist, logician, cryptanalyst, philosopher,
      and theoretical biologist. Turing was highly influential in the
      development of theoretical computer science, providing a formalisation of
      the concepts of algorithm and computation with the Turing machine, which
      can be considered a model of a general-purpose computer. Turing is widely
      considered to be the father of theoretical computer science and artificial
      intelligence.
    </p>
    <a href="/">Go Back</a>
  </body>
</html>
