<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Photo Gallery</title>
  </head>
  <body>
    <h1>Photos Gallery</h1>
    <a href="/">Go Back</a>
    <h2>Alan Turing</h2>
    <img src="/images/alan-turing.jpg" />
    <h2>Turing Machine</h2>
    <img src="/images/turing-machine.jpeg" />
  </body>
</html>
