body {
  background-color: silver;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px;
  background-color: lightgrey;
}
.navbar a:hover {
  background-color: white;
}
.mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
.welcome {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  color: black;
  background-color: lightgrey;
}
